### Manipulating Strings

In [6]:
# String Initialization

first_name = "carlos"
last_name = "Theran"

print("Your fist name is {0:s} and your last name is {1:s}".format(first_name, last_name))

Your fist name is carlos and your last name is Theran

In [11]:
# Basic Operation
# print the length of your string

print("The length of your first name is {}, the detatype of your len fucntio is {}".format(len(first_name),type(len(first_name))))

# Concatenation

full_name = first_name + " "+ last_name

print("You name is: {}".format(full_name))

The length of your first name is 6, the detatype of your len fucntio is <class 'int'>
You name is: carlos Theran

In [12]:
# Duplicating a string by a factor of k.

k = 4

print(first_name * 4)

carloscarloscarloscarlos

In [14]:
# string datatype are iterables
for letter in first_name:
   print(letter, end=" ")

c a r l o s

In [17]:
# Usinf replace function 
full_name = full_name.replace("Theran","Suarez")
print(full_name)


full_name = full_name.upper()
print(full_name)

Carlos suarez
CARLOS SUAREZ